<div class='wrapper d-flex justify-content-center align-items-center flex-column'>
  <div class='juntaLogo'>
    <div class='d-flex justify-content-center test'>
      <img [src]="logoQintess" />
    </div>
    <div class='mat-elevation-z8 login-box'>
      <div class='d-flex justify-content-center mb-3'>
        <h3 class='text-secondary'>Redefinir Senha </h3>
      </div>
      <form [formGroup]='formRedefinirSenha'>
        <div class='senha mt-3'>
          <i class="fa fa-lock" aria-hidden="true"></i>
          <input
          type="{{ showPassword ? 'text' : 'password' }}" 
          name="password" id="password" 
          placeholder='Senha' 
          formControlName="senha"
          maxlength="8" />
          <button mat-icon-button (click)="togglePasswordVisibility()">
            <mat-icon>{{ showPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
      </div>
      <div class='senha mt-3'>
        <i class="fa fa-lock" aria-hidden="true"></i>
        <input
        type="{{ showPassword ? 'text' : 'password' }}" 
        name="password" id="password" 
        placeholder='confirma Senha' 
        maxlength="8" />
        <button mat-icon-button (click)="togglePasswordVisibility()">
          <mat-icon>{{ showPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
    </div>
      </form>
   <section>
        <div class="example-button-row">
          <button mat-raised-button 
            (click)='volta()' 
            class="button1"
            color="white">
            Voltar</button>
          <button 
            mat-raised-button
            (click)='submit()' 
            class="button2"
            color="black">
            Enviar</button>
        </div>
      </section>
    </div>
  </div>
</div>