*{
    margin: 8;
  }
  
  .custom-size{
    height: 26rem;
    overflow: auto;
    margin-top: 2rem;
    border: 1px solid black;
  }
  
  .form-control{
    border: 1px solid black;
    width: 15%;
  
  }
  .oi{
    margin-top: 10rem;
  }
  .input-group-append{
    border: 1px solid black;
  }
  
  table{
    width: 100%;
  }
  
  .custom-row{
    cursor: pointer;
  }
  
  tr.mat-header-row{  
    background-color: black;
  }
  
  th.mat-header-cell{
    color: white;
    font-size: 0.8rem;
  }
  
  button{
    margin-right: -2vw;
    font-size: 40px;
    line-height: 4px;
    height: 32px;
    width: auto;
}