<div class='wrapper d-flex justify-content-center align-items-center flex-column'>
    <div class='juntaLogo'>
      <div class='d-flex justify-content-center test'>
        <img [src]="logoQintess" />
      </div>
      <div class='mat-elevation-z8 recuperar-box'>
        <div class='d-flex justify-content-center mb-3'>
          <h3 class='text-secondary'>Primeiro Acesso</h3>
        </div>
        <div>
          <p>	
            Insira sua matrícula para enviarmos a instrução pelo email cadastrado</p>
        <form [formGroup]='formPrimeiroAcesso'>
          <label class="font-weight-bold">Matrícula:</label>
          <input 
            id="codigoRe"
            type='codigoRe' 
            class="form-control" 
            style="width: 494px"
            placeholder="RExxxxxx" 
            autofocus="1"
            maxlength="8"
            formControlName="codigoRe"
            (blur)="buscaDados($event.target.value)"
          >
            <div id="nome">
              <Label class="font-weight-bold">Nome</Label>
              <input 
                disabled class='form-control' 
                value={{usuario?.nome?.toUpperCase()}} 
                type='text'
                style="width: 494px"
                class='form-control' />
            </div>
            <div id="email">
              <Label class="font-weight-bold">Email</Label>
              <input 
                disabled class='form-control' 
                value={{usuario?.email}} 
                type='text'
                style="width: 494px"
                class='form-control' />
            </div>
        </form>
        <section>
          <div class="example-button-row">
            <button mat-raised-button 
              (click)='volta()' 
              class="button1"
              color="white">
              Voltar</button>
            <button 
              mat-raised-button
              (click)="recuperarSenha()"
              type="reset" 
              class="button2"
              color="black">
              Enviar</button>
          </div>
        </section>
      </div>
    </div>
  </div>
