<div class='wrapper d-flex justify-content-center align-items-center flex-column'>
  <div class='juntaLogo'>
    <div class='d-flex justify-content-center test'>
      <img [src]="logoQintess" />
    </div>
    <div class='mat-elevation-z8 login-box'>
      <div class='d-flex justify-content-center mb-3'>
        <h3 class='text-secondary'>Control</h3>
      </div>
      <form [formGroup]='formLogin'>
        <div [ngClass]="{'val-false':this.senhaErrada}" class='login'>
          <i class="fa fa-user-circle-o" aria-hidden="true"></i>
          <input type='text' placeholder='Matrícula' spellcheck="false"   maxlength="8" formControlName="codigoRe" autocomplete="username" />
        </div>

        <div [ngClass]="{'val-false':this.senhaErrada}" class='senha mt-3'>
          <i class="fa fa-lock" aria-hidden="true"></i>
          <input
          type="{{ showPassword ? 'text' : 'password' }}" 
          name="password" id="password" 
          placeholder='Senha' 
          formControlName="senha"
          maxlength="8"
          autocomplete="current-password" />
          <button mat-icon-button (click)="togglePasswordVisibility()">
            <mat-icon>{{ showPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
      </div>
        <div class='d-flex justify-content-center mt-4'>
          <input class='entrar text-white px-2 btn btn-block' type='submit' value='Entrar' (click)='checaLogin()' />
        </div>
        <div> 
          <a 
            class="esqueceuSenha" 
            target=""
            href="esqueceuSenha">Esqueceu a senha?
          </a>
        </div>
        <div class='d-flex justify-content-center mt-4'>
        <input class='primeiroAcesso text-white px-2 btn btn-block' type='submit' value='Primeiro Acesso' (click)="primeiroAcesso()" />
        </div>
      </form>
    </div>
  </div>
</div>
